@import '~/styles/fonts.scss';
@import '~/styles/variables.scss';
@import '~/styles/global.scss';

.categories {
	position: relative;
}

.categoriesNav {
	position: relative;
	display: flex;
	flex-direction: column;
}

.categoriesHeader {
	@extend %font-NotoSerif-400;
	font-size: 18px;
	line-height: 28px;
	color: $color-text-secondary;
}
.categoriesNavList {
	margin-top: 4px;
}

.categoryItem {
}
.categoryButton {
	@extend %btnBase;
	@extend %font-NotoSerif-400;
	display: flex;
	width: 100%;
	align-items: center;
	padding-left: 12px;

	color: $color-text-primary;
	text-decoration: none;
	font-size: 22px;
	line-height: 30px;
	height: 38px;
	transition: 0.2s;
	background-color: #ffffff;
	&:hover,
	&__clicked {
		background-color: $color-secondary;
		color: $color-primary;
	}
	&__active {
		font-weight: 700;
		color: $color-primary;
	}
}

.categoriesList {
	transition: 0.3s ease-in-out;
	height: 0;
	overflow: hidden;
}
