@import '~/styles/variables.scss';
@import '~/styles/global.scss';
@import '~/styles/fonts.scss';

@keyframes background-show {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.45);
	}
}

@keyframes popup-show {
	0% {
		opacity: 0;
		transform: translateY(-35px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.background {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;

	animation: background-show 0.5s forwards;
	cursor: pointer;
}
.popup {
	padding: 24px;
	display: flex;
	max-width: 600px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 6px;
	cursor: default;
	animation: popup-show 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.productName {
	@extend %font-NotoSerif-700;
	font-size: 18px;
	line-height: 28px;
	margin: 8px 0 0 0;
}

.options {
	margin-left: 32px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.priceAndAddToCartBtn {
}

.addToCartBtn {
	margin-top: 4px;
}
