@import '../../styles/variables.scss';
@import '../../styles/global.scss';
@import '../../styles/fonts.scss';

.item {
	width: 220px;
	cursor: pointer;
	border: 2px solid transparent;
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	text-decoration: none;

	&:hover {
		.moreInfoBlackout {
			opacity: 1;
		}
	}
}

.moreInfoBlackout {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
.moreInfoText {
	@extend %font-NotoSerif-400-italic;
	text-align: center;
	max-width: 150px;
	font-size: 28px;
	line-height: 38px;
	color: #fff;
}

.productName {
	@extend %font-NotoSerif-400;
	margin: 8px 0 0 0;
	padding: 0;
	color: $color-text-primary;
	font-size: 18px;
	line-height: 28px;
}
