%font-NotoSerif-400 {
	font-family: 'Noto Serif';
	font-weight: 400;
}

%font-NotoSerif-400-italic {
	font-family: 'Noto Serif';
	font-weight: 400;
	font-style: italic;
}

%font-NotoSerif-700 {
	font-family: 'Noto Serif';
	font-weight: 700;
}

%font-Baloo2-600 {
	font-family: 'Noto Serif';
	font-weight: 700;
}
