@import '~/styles/variables.scss';
@import '~/styles/fonts.scss';

.container {
	padding-top: 0;
	position: relative;
	display: flex;
	flex-direction: column;

	transition: padding-top 0.3s;
	.inputText,
	.input {
		@extend %font-NotoSerif-400;
		font-size: 16px;
		line-height: 22px;
	}
	.inputText {
		position: absolute;
		color: rgba($color-text-secondary, 0.5);
		left: 14px;
		top: 12px;
		z-index: -1;
		transition: 0.4s;
	}
	.input {
		margin-top: 2px;
		width: 300px;
		padding: 8px 12px;
		color: $color-text-primary;
		background: transparent;
		border: 2px solid rgba($color-text-secondary, 0.5);
		border-radius: 4px;

		transition: border-color 0.5s;
		&:focus {
			border-color: $color-primary;
		}
	}
	& + & {
		margin-top: 8px;
	}
}

.container__error {
	height: 64px;
	.inputText {
	}
	.input {
	}
}

.container__hasText {
	padding-top: 25px;
	.inputText {
		top: 0;
		left: 0;
	}
	.input {
	}
}
