@import '~/styles/variables.scss';
@import '~/styles/fonts.scss';

.container {
	padding-top: 14px;
	position: relative;
	display: flex;
	flex-direction: column;

	transition: padding-top 0.3s;
	.inputText,
	.input {
		@extend %font-NotoSerif-400;
		font-size: 16px;
		line-height: 22px;
	}
	.inputText {
		pointer-events: none;
		position: absolute;
		color: rgba($color-text-secondary, 0.5);
		left: 12px;
		bottom: 10px;
		padding: 0px 2px;
		border-radius: 4px;
		z-index: 1;
		background-color: #fff;
		transition: 0.3s;
	}
	.input {
		margin-top: 2px;
		width: 300px;
		padding: 8px 12px;
		color: $color-text-primary;
		background: transparent;
		border: 2px solid rgba($color-text-secondary, 0.5);
		border-radius: 4px;
		outline: none;
		transition: border-color 0.5s;
		&:focus {
			border-color: $color-primary;
		}
	}
}

.container__focused {
	.inputText {
		color: $color-primary;
	}
}
.container__error {
	.inputText {
		color: $color-important;
	}
	.input {
		border-color: $color-important;
	}
}

.container__hasText {
	.inputText {
		left: 8px;
		bottom: 35px;
	}
}
