@import '~/styles/variables.scss';
@import '~/styles/global.scss';
@import '~/styles/fonts.scss';

@keyframes loading {
	0% {
		color: rgba($color-primary, 0.5);
	}
	50% {
		color: rgba($color-important, 0.7);
	}
	100% {
		color: rgba($color-primary, 0.5);
	}
}

%btn {
	@extend %btnBase;
	@extend %font-Baloo2-700;
	padding: 2px 16px 0;
	height: 44px;
	min-width: 216px;
	font-size: 18px;
	line-height: 28px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	overflow: hidden;
	transition: 0.3s;
	z-index: 1;

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: translateY(0);
		background-color: $color-primary;
		transform-origin: center;
		transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
		z-index: -1;
	}
	&:enabled:hover {
		color: $color-primary;
		&:after {
			transform: translateY(100%);
		}
	}

	&:disabled {
		color: rgba($color-primary, 0.5);
		&:after {
			top: 100%;
		}
	}

	&.loading {
		animation: loading infinite 1s linear;
	}
}

.btnPrimary {
	@extend %btn;
	color: #fff;
	border: 2px solid $color-primary;
	background-color: transparent;
}

.btnSecondary {
	@extend %btn;

	background-color: transparent;
	color: $color-primary;

	border: 2px solid $color-secondary;
	&:after {
		background-color: $color-secondary;
	}
	&:enabled:hover {
		border-color: $color-primary;
	}
}

.btnSpecial {
	@extend %btn;
	color: #fff;
	border: 2px solid $color-special;
	background-color: transparent;
	&:after {
		background-color: $color-special;
	}
	&:enabled:hover {
		color: $color-special;
	}
	&:disabled {
		color: rgba($color-special, 0.5);
	}
}

.fullWidth {
	width: 100%;
	padding: 2px 32px 0;
}
