.container {
	max-width: 1140px;
	margin: 0 auto;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	padding-top: 24px;
}

.transitionEnter {
	opacity: 0;
	left: -20px;
}
.transitionEnterActive {
	opacity: 1;
	left: 0;
	transition: opacity 0.3s linear, left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	// transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.transitionExit {
	opacity: 1;
	left: 0px;
}
.transitionExitActive {
	opacity: 0;
	left: 20px;
	transition: opacity 0.3s linear, left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
