.container {
	max-width: 1140px;
	margin: 0 auto;
}

.main {
	display: flex;
	padding: 24px 0px;
}

.content {
	position: relative;
	flex-grow: 1;
}

.shopItems {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
