.container {
	max-width: 1140px;
	margin: 0 auto;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	padding-top: 24px;
}

.transitionEnter {
	opacity: 0;
	transform: translateX(-100px);
}
.transitionEnterActive {
	opacity: 1;
	transform: translateX(0);

	transition: opacity 0.2s linear, transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.transitionExit {
	opacity: 1;
	transform: translateX(0);
}
.transitionExitActive {
	opacity: 0;
	transform: translateX(150px);
	transition: opacity 0.2s linear, transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
