@import '../../styles/global.scss';
@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';

%headerNavImgBase {
	width: 32px;
	height: 32px;
	background-color: $color-text-primary;
	transition: background-color 0.3s;
	&:hover {
		background-color: $color-primary;
	}
}

@mixin headerNavImg($iconUrl) {
	@extend %headerNavImgBase;
	mask: url($iconUrl);
	mask-size: cover;
}

.header {
	@extend %font-NotoSerif-400;
	position: sticky;
	height: 96px;
	top: 0;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	z-index: 10;
}
.headerContent {
	padding: 24px 0;
	display: flex;
	flex-grow: 1;
}
.logo {
	color: $color-text-primary;
	text-decoration: none;
	font-size: 32px;
	line-height: 44px;
	letter-spacing: 5%;
}

.headerNav {
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.navItem {
	position: relative;

	&__active .navItemImg {
		background-color: $color-primary;
	}
}

.navItemImg {
	position: relative;
}

.search {
	flex-grow: 1;
	margin-left: 64px;
}

.cart {
	margin-left: 64px;
}
.cartItemsCount {
	position: absolute;
	bottom: -8px;
	right: -8px;
	padding: 4px;
	background-color: $color-primary;
	min-width: 24px;
	height: 24px;
	border-radius: 24px;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 16px;
	line-height: 22px;
}
.cartImg {
	@include headerNavImg('../../assets/icons/shopping-cart.svg');
}

.account {
	margin-left: 64px;

	display: flex;
	align-items: center;
}
.accountImg {
	@include headerNavImg('../../assets/icons/account.svg');
}

.line {
	height: 1px;
	background-color: $color-text-secondary;
	opacity: 0.5;
}
