@import '~/styles/fonts.scss';
@import '~/styles/variables.scss';

.subcategoriesGroups {
	@extend %font-NotoSerif-400;
	background-color: rgba($color-secondary, 0.3);
	width: 100%;
	padding: 8px 16px 16px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-wrap: wrap;

	text-transform: capitalize;
}

.subcategoriesGroup {
	font-size: 18px;
	line-height: 22px;
	& + & {
		margin-top: 16px;
	}
}
.groupName {
	font-weight: 700;
}

.subcategoriesList {
	margin-top: 4px;
	padding-left: 8px;
}
.subcategoryItem {
}

.subcategoryItemLink {
	display: block;
	text-decoration: none;
	color: $color-text-primary;
	transition: 0.1s;
	padding: 2px 0;
	&:hover {
		color: $color-primary;
	}
}
.subcategoryItemLink:hover,
.subcategoryItemLink__active {
	color: $color-primary;
}
