@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

$color-primary: #bb7a2c;
$color-secondary: #ececec;
$color-important: #e24742;
$color-text: #1d1d1d;
$color-text-inactive: #9c9c9c;

body {
	margin: 0;
	font-family: 'Noto-Serif', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
